@page "/BarExample"
@using ChartJs.Blazor.ChartJS.BarChart
@using ChartJs.Blazor.ChartJS.BarChart.Axes
@using ChartJs.Blazor.Charts
@using ChartJs.Blazor.ChartJS.Common.Properties

<h1>Bar Chart</h1>

<ChartJsBarChart @ref="barChartJs" Config="@config" Width="600" Height="300" />

@code {
    private BarConfig config;
    private ChartJsBarChart barChartJs;

    protected override void OnInitialized()
    {
        config = new BarConfig
        {
            Options = new BarOptions
            {
                Title = new OptionsTitle
                {
                    Display = true,
                    Text = "Sample chart from Blazor"
                },
                Responsive = true
            }
        };

        config.Data.Labels.AddRange(new[] { "A", "B", "C", "D" });

        var barSet = new BarDataset<BarExampleData>
        {
            BackgroundColor = new[] { "#ff6384", "#55ee84", "#4463ff", "#efefef" },
            BorderWidth = 0,
            HoverBackgroundColor = "#f06384",
            HoverBorderColor = "#f06384",
            HoverBorderWidth = 1,
            BorderColor = "#ffffff",
        };

        barSet.AddRange(new[] { new BarExampleData{X = 0, Y = 4}, new BarExampleData{X = 1, Y = 5}, new BarExampleData{X = 2, Y = 6}, new BarExampleData{X = 3, Y = 7} });
        config.Data.Datasets.Add(barSet);
    }
}
