@page "/"
@using ChartJs.Blazor.ChartJS
@inject IJSRuntime jsRuntime

<h1>Hello, world!</h1>

Welcome to your new app.

@code{        
    protected override Task OnAfterRenderAsync()
    {
        return jsRuntime.DemoSOThing();
    }
}
